body {
    background-color: #0B0A0F;
    color:white;
    font-family: roboto;
    /* добавляем картинку сзади */
    background-image: url('../img/main-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;    
}
.container {
    /* максимальная ширина */
    max-width: 1440px;
    /* выравнивание по центру*/
    margin: auto;
}
/* стили для шапки header */
.header {
    /* горизонтально друг за другом */
    display: flex;
    /* выравнивание вдоль одной оси */
    align-items: center;
    /* чтобы между элементами было одинаковое расстояние */
    justify-content: space-between;
    /* внутр отступ сверху */
    padding-top: 45px;
    margin-bottom: 30%;
}
.logo {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}
.search-input {
    flex:1;
    /* берём из макета фон и скругление */
    background: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    /* внутренние отступы */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    /* убираем рамку */
    border: none;
    color: #AEAEAE;
    font-size: 14px;
    line-height: 16px;
}
::-webkit-input-placeholder { /* Edge */
    color: #AEAEAE;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #AEAEAE;
  }
  
  ::placeholder {
    color: #AEAEAE;
    opacity: 1;
  }
  .search {
      display: flex;
      align-items: center;
      flex: 0.8;
  }
  .search-button {
      background-color: transparent;
      border: none;
      padding: 10px, 18px;
  }
  .user {
      display: flex;
      align-items: center;
  }
  .avatar {
      margin-left: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
  }
  .title
  {
      margin: 0px;
      font-family: Playfair Display;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 64px;
    margin-bottom: 7px;
  }
  .title-m
  {
    font-family: Roboto;
    display: inline-block;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
    color: #787878;
  }
  .tag
  {
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 20px;
    display: inline-block;
  }
  .country
  {
      
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 33px;
  }
  .play
  {
      display: flex;
      align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
  }
  .play:before
  {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 15px;
  }
  .info
  {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 100px;
  }
  .short-info
  {
    margin-right: 3%;
  }
  .movie-info
  {
      display: flex;
      align-items: center;
  }
  .more
  {
    display: flex;
    align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  }
  .more::after
  {
      content: '';
      width: 30px;
      height: 30px;
      background-image: url(../img/play.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      margin-left: 15px;
      transform: rotate(90deg);
  }
  .content
  {
      background-color: #FFFFFF;
      border-radius: 3px;
      color:black;
      padding: 3% 4%;
      display: flex;
      justify-content: space-between;
  }
  .poster
  {
      display: block;
      margin-top: -45%;
      margin-bottom: 20px;
  }
  .button
  {
    background: #FF8F27;
    color: #FFFFFF;
    border: none;
    padding: 10px 44px;
    width: 184px;
    height: 36px;
    font-size: 14px;
    line-height: 16px;
  }
  .actors-title
  {
    padding-left: 15px;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 10px;
  }
  .actors-list
  {
      margin: 0px;
    list-style: none;
    padding-left: 15px;
    text-decoration: underline;
    line-height: 150%;
  }
   .tabs-item
  {
    color: black;
    text-decoration: none;
    margin-right: 4%;
    font-size: 18px;
    line-height: 21px;
  } 
  .tabs-item:not(:last-child)
  {
    margin-right: 40px;
  }
  .tabs-item-active
  {
    color: #FF8F27;
  }
  .fullinfo
  {
      flex:0.97;
  }
  .full-content
  {
      display: flex;
      justify-content: space-between;
  }
 .tabs-content
 {
     margin-right: 70px;
 }
 .menu
 {
     margin-bottom: 41px;
 }
 .subscribe-text
 {
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
 }
 .subscribe-form
 {
     display: flex;
     margin-bottom: 48px;
 }
 .subscribe-email
 {
    width: 160px;
    height: 34px;
    background-color: #F1F1F1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #9B9B9B;
    padding-left: 15px;
 }
 .subscribe-button
 {
     width: 43px;
     height: 40px;
     background-repeat: no-repeat;
     background-position: top center;  
     background-size: cover;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     border:none;
     padding: 12px;
     background-color: #FF8F27;
 }
 .text
 {
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-top: 0px;
 }
 .text-title
 {
    font-weight: 900;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
 }
 .tabs
 {
   display: flex;
   align-items: center;
   margin-bottom: 4%;
 }
/* адаптация */
 @media (max-width: 1200px)
 {
   .container
   {
     max-width: 960px;
   }
   .tabs-item
   {
     font-size: 16px;
   }
 }
 @media(max-width: 992px)
 {
   .container
   {
     width: 750px;
   }
   .tabs
   {
      flex-wrap: wrap;
      
   }
   .tabs-item
   {
    line-height: 2;
    flex-basis: 20%;
   }
   .full-content
   {
     flex-wrap: wrap;

   }
   .tabs-content
   {
     margin-bottom: 4%;
   }
   .text
   {
     font-size: 14px;
   }
 }

 @media (max-width:768px)
 {
  .container
  {
    width: 560px;
  }
  .more
  {
    display: none;
  }
  .tabs-item
  {
    flex-basis: 20%;
  }
 }
 @media (max-width:578px)
 {
   .container
   {
     width: 90%;
   }
   .search
   {
     flex: 1;
   }
   .header
   {
     flex-basis: 100%;
     order:3;
     margin-top: 5%;
   }
   .content{
     flex-wrap: wrap;
   }
   .short-info
   {
     margin-bottom: 5%;
   }
   .actors-list, .actors-title
   {
     display: none;
   }
   .tabs-content
   {
     margin-right: 0px;
   }
   .movie-info
   {
     flex-wrap: wrap;
   }
   .play
   {
     flex-basis: 100%;
     margin-top: 10%;
   }
   .short-info
   {
     margin-right: 0px;
   }
   .poster
   {
     width: 100%;
     display: inline;
     margin-top: -20%;
   }
   .button
   {
     width: 100%;
   }
 }